.idea
.vscode

# LaTeX stuff
__*.tex
*.fdb_latexmk
*.synctex.gz
*.fls
*.log
*.aux
*.out
*.run.xml
*.bbl
*.bcf
*.blg
*.nav
*.snm
*.toc
out/*.pdf
rapport/*.pdf
soutenance/*.pdf
*.xdv

!biblio/*.pdf

$.DS_Store

# Python
__pycache__
**/*/__pycache__

# Jupyter
.ipynb_checkpoints

# Data
# Ignore the subfolders
data/dax-euro/**/*
data/german_equity/**/*
# Keep the READMEs
!data/dax-euro/README
!data/german_equity/README
